/* color vars*/
$color-white: #ffffff;
$color-black: #000000;
$color-red: #d0021b;
$color-yellow: #f5a623;
$color-blue: #4a90e2;
$color-green: #50FF44;
$color-gray: #F2F2F2;
$color-white-20: rgba(255, 255, 255, 0.2);
$color-black-10: rgba(0, 0, 0, 0.1);
$color-black-80: rgba(0, 0, 0, 0.8);

$radius: 3px;
